#container{
    
        border: 3px solid white;
        width: 7500px;
        height: 600px;
        background-color: black;
        float: left;
    }
    .body{
        margin-top: 100px;
        width: 100%;
        height: 610px;
    }
    body{
        background-color: green;
    }
    .player1{
        width: 200px;
        height: 100px;
    
    }
    
    .player2{
        width: 200px;
        height: 100px;
    
    }
    
    
    .white{
        width: 200px;
        height: 100px;
        margin: 0 auto;
    }
    .yellow{
        width: 200px;
        height: 100px;
        margin: 0 auto;
    }
    .purple{
        width: 200px;
        height: 100px;
        margin: 0 auto;
    }
    
    .finishline{
        height: 600px;
        border: 3px solid white;
        float: left;
        clear: right;
    }
    
    h1{
        font-size: 1000%;
    }